{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block meta %}
<meta name="description" content="A platform to trade plants." >
{% endblock %}


{% block body %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to Pflänz.li</h1>
    <p class="lead">This is a platform to trade plants. You can offer plants and setup a wishlist what you want to trade it for.</p>
    <hr class="my-4">
    <p>To offer your plants, please register first.</p>
    <a class="btn btn-primary btn-lg" href="{{ path('app_register') }}" role="button">Register now</a>
  </div>
{% endblock %}
