{% extends 'base.html.twig' %}

{% block title %}Account created{% endblock %}

{% block body %}
    <h1>Your account has been created!</h1>

    <p>Check your inbox for the verification email!</p>
{% endblock %}
