{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block meta %}
<meta name="description" content="Register for pflänz.li" />
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('captcha') }}
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}
	{% for message in app.flashes('error') %}
		<div class="alert alert-danger" role="alert">
			{{ message }}
		</div>
	{% endfor %}

	<h1>Register</h1>

	{{ form_start(registrationForm) }}
	{{ form_widget(registrationForm) }}
	<div class="form-group row">
		<label class="col-form-label col-sm-2">CAPTCHA</label>
		<div class="col-sm-10">
			<div class="frc-captcha" data-sitekey="FCMLGE739LB528NG" id="captcha"></div>
		</div>
	</div>
	{{ form_end(registrationForm) }}
{% endblock %}
