{% extends 'base.html.twig' %}

{% block title%}Edit offer{% endblock %}

{% block body %}
    {% for message in app.flashes('error') %}
    <div class="alert alert-error" role="alert">
        {{ message }}
    </div>
    {% endfor %}

    <h1 class="mb-3">Edit offer</h1>
    {{ form_start(offer_form) }}
        {{ form_row(offer_form.title) }}
        {{ form_row(offer_form.zipCode) }}
        {{ form_row(offer_form.description) }}
        {{ form_row(offer_form.photo, {
            label: 'Choose file'
        }) }}
    {{ form_end(offer_form) }}
{% endblock %}