{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <h1>Reset your password</h1>

    {{ form_start(resetForm) }}
        {{form_widget(resetForm)}}
    {{ form_end(resetForm) }}
{% endblock %}
