<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Pflänz.li -
			{% block title %}{% endblock %}
		</title>
		{% block meta %}{% endblock %}
		{% if app_env == 'prod' %}
		<meta name="robots" content="index,follow" />
		{% endif %}
		<meta name="publisher" content="pflänz.li" />
		<meta name="keywords" content="trade, share, plants, sustainability, pflanzentausch, pflanzen" />

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}{% endblock %}

		{{ encore_entry_script_tags('app') }}

		<!-- Matomo -->
		<script>
			var _paq = window._paq = window._paq || [];
			/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
			_paq.push(['trackPageView']);
			_paq.push(['enableLinkTracking']);
			(function () {
			var u = "https://analytics.thisfro.ch/";
			_paq.push([
			'setTrackerUrl',
			u + 'matomo.php'
			]);
			_paq.push(['setSiteId', '2']);
			var d = document,
			g = d.createElement('script'),
			s = d.getElementsByTagName('script')[0];
			g.async = true;
			g.src = u + 'matomo.js';
			s.parentNode.insertBefore(g, s);
			})();
		</script>
		<!-- End Matomo Code -->

		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="{{ path('homepage') }}">
				<i class="fas fa-seedling"></i>Pflänz.li</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href=" {{ path('offers') }} ">
							<i class="fas fa-seedling"></i>
							Offers</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-user"></i>
							User</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="{{ path('own_offers') }}">
								<i class="fas fa-seedling"></i>
								My Offers</a>
							<a class="dropdown-item" href="{{ path('wishlist') }}">
								<i class="fas fa-star"></i>
								Wishlist</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="{{ path('user_page') }}">
								<i class="fas fa-user"></i>
								User settings</a>
						</div>
					</li>
					<li>
						<a class="nav-link" href="{{ path('new_offer') }}">
							<i class="fas fa-plus-square"></i>
							New Offer</a>
					</li>
				</ul>
				<span>
					{% if is_granted('ROLE_USER') %}
						<a class="btn btn-light" href="{{ path('app_logout') }}">Log out</a>
					{% else %}
						<a class="btn btn-light" href="{{ path('app_login') }}">Log in</a>
					{% endif %}
				</span>
			</div>
		</nav>

		<div class="container pt-5"> {% block body %}{% endblock %}
			</div>

			<footer class="text-dark p-3">
				<div class="row">
					<div class="col-lg"></div>
					<div class="col-lg text-center pt-3">
						<section class="mb-1">
							<h2 class="d-none">Social Links</h2>
							<a class="btn btn-link btn-floating btn-lg text-dark m-1" rel="me" href="https://mastodon.social/@pflaenzli" role="button" data-mdb-ripple-color="dark">
								<i class="fab fa-mastodon"></i>
							</a>
							<a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://git.thisfro.ch/thisfro/pflaenz.li" role="button" data-mdb-ripple-color="dark">
								<i class="fab fa-git-alt"></i>
							</a>
						</section>
					</div>
					<div class="col-lg pt-4 pl-5">
						<section>
							<h2 class="h5">Links</h2>
							<ul class="link-list">
								<li><a href="https://blog.pflaenz.li">Blog</a></li>
								<li><a href="{{ path('imprint') }}">Imprint</a></li>
                <li><a href="{{ path('faq') }}">FAQ</a></li>
							</ul>
						</section>
					</div>
				</div>
				<div class="row pt-3">
					<div class="text-center text-dark w-100">
						<a class="text-dark" href="{{ path('homepage') }}"><i class="far fa-copyright mr-1"></i>{{ 'now' | date('Y') }} pflänz.li</a>
					</div>
				</div>
			</footer>
		</body>
	</html>
