{% extends 'base.html.twig' %}

{% block title %}User
{% endblock %}

{% block body %}
	{% for message in app.flashes('error') %}
		<div class="alert alert-danger" role="alert">
			{{ message }}
		</div>
	{% endfor %}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success" role="alert">
			{{ message }}
		</div>
	{% endfor %}

	<div class="mb-5">
		<h1>Hello
			{{ user.username }}!</p>
	</div>
	<div class="mb-5">
		<h2>Change Password</h2>
		{{ form_start(changePassword_form) }}
		{{ form_widget(changePassword_form) }}
		{{ form_end(changePassword_form) }}
	</div>

	<div class="mb-3">
		<h2>Delete Account</h2>
		<button class="btn btn-danger">Delete Account</button>
	</div>
{% endblock %}
