{% extends 'base.html.twig' %}

{% block title %}User {{ username }}{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <div class="mb-3">
        <h1>{{ username }}'s Wishlist</h1>
    </div>

    <div class="mb-4">
    {% if wishes == [] %}
        <div class="alert alert-warning" role="alert">
            There are currently no wishes!
        </div>
    {% else %}
        <ul class="list-group">
        {% for wish in wishes %}
            <li class="list-group-item"> {{ wish.title }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    </div>
    <hr>
    <div class="mb-3">
        <h1>{{ username }}'s Offers</h1>
    </div>

    {% if offers|length > 0 %}
        <div class="card-deck d-flex justify-content-around justify-content-sm-around justify-content-md-between flex-wrap">
            {% for offer in offers %}
                <div class="mb-5">
                    <div class="card offer h-100">
                        <a href="{{ path('show_offer', {'urlId': offer.urlId }) }}">
                            {% if offer.photoFilename %}
                                <img class="card-img-top offer-img" src="{{ asset('uploads/photos/' ~ offer.photofilename) }}" />
                            {% else %}
                                <img class="card-img-top offer-img" src="{{ asset('placeholder.jpg') }}" />
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ offer.title }}</h5>
                                <p class="card-text">{{ offer.description }}</p>
                            </div>
                        </a>
                        <div class="card-footer offer-footer">
                            <a class="user-link" href="{{ path('user_public', { 'urlId': offer.byuser.id }) }}">
                                <p class="username"><i class="fas fa-user mt-3"></i> {{ offer.byUser }}</p>
                            </a>
                            <p class="zip"><i class="fas fa-map-marker-alt mt-3"></i> {{ offer.zipCode }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-warning" role="alert">There are currently no active offers.</div>
    {% endif %}
{% endblock %}