{% extends 'base.html.twig' %}

{% block title %}Whishlist{% endblock %}

{% block body %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-error" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <div class="mb-3">
        <h1>Your Wishlist</h1>
    </div>

    <div class="mb-3">
    {% if wishes == [] %}
        <div class="alert alert-warning" role="alert">
            There are currently no wishes!
        </div>
    {% else %}
        <ul class="list-group">
        {% for wish in wishes %}
            <li class="list-group-item d-flex justify-content-between align-items-center"> {{ wish.title }}
                <span>
                    <a href="{{ path('delete_wish', {'urlId': wish.urlid}) }}" class="btn btn-danger" aria-label="Delete"><i class="fas fa-trash-alt" aria-hidden="true" title="Delete"></i></a>
                </span>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
    </div>

    <hr>

    <div class="mb-3">
        <h3><i class="fas fa-star"></i> New wish</h3>
        {{ form(wish_form) }}
    </div>
{% endblock %}